   .container {
     margin-top: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }

   .no-display {
     display: hidden;
   }

   .btn-group {
     margin: 20px;
     background-color: ivory;
     border: solid black;
     border-radius: 20px;
     padding: 10px;
   }

   .btn {
     min-width: 80px;
     margin: 10px;
     padding: 10px;
     font-size: 16px;
     border-radius: 10px;
     cursor: pointer;
     color: white;
   }

   body {
     width: 100vw;
     height: 100vh;
     background-color: ivory;
   }

   .btn-green {
     background-color: green;
   }

   .btn-red {
     background-color: red;
   }

   .btn-blue {
     background-color: blue;
   }

   .no-display {
     display: none;
   }