* {
  box-sizing: border-box;
  margin-left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-group {
  margin: 20px 0;
  background-color: ivory;
  border: solid black;
  border-radius: 20px;
  padding: 10px;
}

.btn {
  min-width: 80px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

body {
  width: 100vw;
  max-height: 100vh;
  background-color: aquamarine;
}

h1 {
  max-height: 20vh;
  text-shadow: 0.5px 0.5px 1px grey;
}

img {
  max-height: 60vh;
  height: 60vh;
}
.btn-green {
  /* background-color: green; */
  background-color: aquamarine;
}

.btn-red {
  background-color: lightcoral;
  /* color: white; */
}

.btn-blue {
  background-color: lightskyblue;
  /* color: white; */
}

.no-display {
  display: none;
}

#poppycat-open {
  /* #poppycat-open:not(.no-display) { */
  animation-name: animatetop;
  animation-duration: 0.8s;
}

@keyframes animatetop {
  from {
    /* transform: translateY(0); */
    transform: translate(0, 0);
  }

  to {
    /* transform: translateY(-100px); */
    transform: translate(-5px, -50px);
  }
}
